
dy {}
.this_page a {
    font-size: 29px;
    opacity: 0.5;}

s_page a {
    font-size: 29px;
    opacity: 0.5;}

figure {text-indent: -40px;}
figcaption {text-indent: -40px;}

h2 {font-size: 15px;}
h2.second {text-align: center; font-size: 19px;}
h1.practice {color: red;}
img.special {width: 500px;}


img {
    border: 2px solid #0088dd;
    padding: 10px;
    width: 200px;
    height: 200px;}
figure {text-indent: -40px;}
figcaption {text-indent: -40px;}

h2 {font-size: 15px;}
h2.second {text-align: center; font-size: 19px;}
h1.practice {color: red;}
img.special {width: 500px;}

    
img {
    border: 2px solid #0088dd;
    padding: 10px;
    width: 200px;
    height: 200px;}


